body{
  margin: 0;
  background-color: #EACDC2;
}

#container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calculator{
  border: 1px solid green;
  width: 400px;
  height: auto;
  padding: 40px;
  background-color: #757780;
  border-radius: 10px;
}

#display-container{
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: right;
  padding: 10px;
  min-height: 140px;
  vertical-align: text-top;
  font-family: 'VT323', monospace;
  color: #FFF8F0;
  background-color: #02020B;
  border-radius: 10px;
}

#display-upper-line {
  font-size: 20px;  
}

#display{
  font-size: 30px;
}

#buttons-container{
  height: 480px;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

input {
  font-family: 'Staatliches', cursive;
  font-size: 22px;
  margin: 5px;
  color: #FFF8F0;
  background-color: #45464A;
}

#equals{
  background-color: #DB9D47;
  color: #FFF8F0;
}

#clear{
  grid-column: 1 / 4;
  background-color: #92140C;
  color: #FFF8F0;
}

#add {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
  background-color: #3423A6;
  color: #FFF8F0;
}

#divide, #multiply, #subtract {
  background-color: #3423A6;
  color: #FFF8F0;
}

